{if value is not None}
	{while value is not None and len(value) == 1 and not key.find('|') >= 0}
		{%key += ' &raquo; ' + value.keys()[0]}
		{%value=value.values()[0]}
		{if value is not None and len(value) == 1 and value.keys()[0].find('|') >= 0}
			{%break}
		{end}
	{end}
{end}

{if value is None or len(value) > 0}
<label>
{if key.find('|') > 0}
	{if value is not None}
	<a href="javascript:;" name="folder" class="folder"><img src="$domain/image/tree-extended.png?" align="absmiddle"></a>
	{end}

	{%key, url = key.split('|')}
	{%rkey = url[url.rfind('/')+1: -5]}
	<a href="$url" name="content_$rkey">$key</a>
{else}
	<label class="folder" name="folder"><img src="$domain/image/tree-extended.png?" align="absmiddle"> $key</label>
{end}
</label>
<blockquote>
{if value}
	{for k, v in value.iteritems()}
		{%tpl(map, key=k, value=v, map=map, domain=domain)}
	{end}
{end}
</blockquote>
<div style="clear: both"></div>
{end}
