<script>
var tname = '$name';
</script>
<div>
{if isset('doc') and 'beief' in doc}
$doc['beief']
{end}
</div>
<h3>结构</h3>
<div class="syntax_label">go</div>
{if isset('typeref')}
<pre class="syntax_pre"><code>type $name $typeref['name']
{else}
<pre class="syntax_pre"><code>type $name struct {
{if isset('struct') and 'vars' in struct}
{for var in struct['vars']}
	\t$var['display_name']
{end}
{end}
}
</code></pre>

{if isset('struct') and 'vars' in struct}
	<h3>字段</h3>
	{for var in struct['vars']}
		<li>
			{if 'name' in var}
				<li><i class="type_name">$var['name']</i></li> 
				<div class="type_label">
				类型:
				<label class="var_type">
				$var['type']['display_name']
				</label>
				</div>

				<blockquote>
				{if 'doc' in var}
				<div>$var["doc"]</div>
				{end}
				</blockquote>
			{else}
			(extends) $var['type']['typeref_name']
		{end}
		</li>
	{end}
{end}
{if isset('struct') and 'func' in struct}
	<h3>方法</h3>
	{for func in struct['func'].values()}
		<li>
			<a href="$name_$func['name'].html">$func['name']</a>
			{if 'doc' in func and 'beief' in func['doc']}
			<blockquote>$func['doc']['beief']</blockquote>
			{end}
		</li>
	{end}
{end}

{if isset('doc')}
{for otherdoc in doc}
	{if otherdoc == 'beief'}
		{%continue}
	{end}
	<h3>$otherdoc</h3>
	<blockquote>
	{%echo("".join(doc[otherdoc]))}
	</blockquote>
{end}
{end}
